body{

    font-family: Arial, sans-serif;

    margin:40px;

}


h1{

    text-align:center;

}


nav{


    display:flex;


    justify-content:center;


    gap:30px;


}


a{

    text-decoration:none;

    font-size:18px;

}

.contenedor{


display:flex;


justify-content:center;


align-items:center;


gap:20px;


flex-wrap:wrap;


}



.tarjeta{


width:180px;


padding:20px;


border:1px solid black;


text-align:center;


}